# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Environment variable files
.env

# Log files
*.log

# VS Code settings (optional, if you use VS Code)
.vscode/

# Environment variable files
.env
gcp-key.json

# Data files
output/